name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v3

      - id: setup-node
        name: Setup Node.JS
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - id: install-deps
        name: Install dependencies
        run: yarn install --frozen-lockfile

      - id: run-tests
        name: Test library
        run: yarn test

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write
    # Restricts release to:
    #   1) pushes of release tags
    #   2) on the default branch, only
    #   3) never on forks
    if: |
      github.event_name == 'push' && startsWith(github.ref, 'refs/tags') &&
      endsWith(github.event.base_ref, github.event.repository.default_branch) &&
      github.repository == 'reuters-graphics/npm-ci-test'
    steps:
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}

      - id: setup-node
        name: Setup Node.JS
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org
          scope: '@reuters-graphics'

      - id: install-deps
        name: Install dependencies
        run: yarn install --frozen-lockfile

      - id: version
        name: Version
        run: npm version ${{ github.ref_name }} --no-git-tag-version

      - id: publish
        name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - id: commit
        name: Commit package bump
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          git add package.json
          git commit -m "published ${{ github.ref_name }}"
          git push